.gradient {
    background-image: url(./assets/images/NFT_crypto.png), linear-gradient(110.91deg, #FF720C 28.48%, rgba(254, 250, 250, 0.67) 99.84%) !important;
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
  }